###   Development settings

VERSION = V.0.93

REGION = us-east-1
DOMAIN = m1.ogoro.me

SECRET_KEY = ...

NLB_NAME = m1-core-nlb

USER_POOL = m1-user-pool
USER_POOL_CLIENT = m1-user-pool-client

CORE_BUCKET = m1-core-bucket
TASKS_TABLE_NAME = m1-tasks-table
ALGORITHMS_TABLE_NAME = m1-algorithms-table

TASK_TIMEOUT = 300
QUEUE_WORKERS_PER_RUNNER = 1

###   Facebook App


# https://developers.facebook.com/apps/
#
# 1) Products > Add Product > Facebook Login > Web:
#
# Site URL:
# https://m1.ogoro.me/
#
# 2) Facebook Login > Settings > Valid OAuth Redirect URIs:
#
# 2.1) Dev login redirect from:
# https://419c9499c3f34544843a88ea1ee032da.vfs.cloud9.us-east-1.amazonaws.com/login
#
# 2.2) Prod login redirect from:
# https://m1.ogoro.me/login
#
# App Review > Permissions and Features > public_profile, email


FACEBOOK_CLIENT_ID = ...
FACEBOOK_CLIENT_SECRET = ...


###   Qiskit

QISKIT_TOKEN = ...


# Telegram

TELEGRAM_TOKEN = ...