{% extends 'base.html' %}

{% block title %}
  Admin
{% endblock %}

{% block content %}

  <div class="container-fluid">
    
    <div class="row">
      <div class="col-sm-12 mt-4 mb-3">
        <h5>Admin:</h5>
      </div>
    </div>
    
    
    <form action={{ url_for('admin') }} method="POST">
    
      <div class="row">
        
        <div class="col-auto">
  
          {% if config['TELEGRAM_BOT_STATE'] == 'Started' %}
          
            <button type="submit" 
                    class="btn btn-warning" 
                    name="command"
                    value="stop_bot">
              Stop Bot
            </button>
            
          {% else %}
          
            <button type="submit" 
                    class="btn btn-success" 
                    name="command"
                    value="start_bot">
              Start Bot
            </button>
        
          {% endif %}
  
        </div>
      
        <div class="col-auto">
          
          <button type="submit" 
                  class="btn btn-info" 
                  name="command"
                  value="add_test_data">
            Add Test Data
          </button>          
  
        </div>
        
        <div class="col-auto">
          
          <button type="submit" 
                  class="btn btn-danger" 
                  name="command"
                  value="terminate">
            Terminate
          </button>          
  
        </div>
            
      </div>
      
    </form>
    
    
    
    <!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content bg-dark">-->
<!--      <div class="modal-header">-->
        
<!--        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
        
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->







    
  </div>

{% endblock %}


