{% extends 'base.html' %}

{% block title %}
  Admin
{% endblock %}

{% block content %}

<div class="col-12 text-center m-3">
  <h5>Admin:</h5>
</div>

<form action={{ url_for('admin') }} method="POST">
  
  <div class="col-12 m-2">      
    Core:   
  </div>

  <div class="col-12">
    
    <button class="btn btn-primary m-2"
            type="submit"
            name="command"
            value="add_test_data">
      Add Test Data
    </button>    

    {% if config['TELEGRAM_BOT_STATE'] == 'Started' %}
    
      <button class="btn btn-warning m-2"
              type="submit"
              name="command"
              value="stop_bot">
        Stop Bot
      </button>
      
    {% else %}
    
      <button class="btn btn-success m-2"
              type="submit"
              name="command"
              value="start_bot">
        Start Bot
      </button>
  
    {% endif %}

    {% if config['RUNNER_STATE'] == 'Started' %}
    
      <button class="btn btn-warning m-2"
              type="submit"
              name="command"
              value="stop_runner">
        Stop Runner
      </button>
      
    {% else %}
    
      <button class="btn btn-success m-2"
              type="submit"
              name="command"
              value="start_runner">
        Start Runner
      </button>
  
    {% endif %}
    
    <button class="btn btn-danger m-2"
            type="submit"
            name="command"
            value="terminate">
      Terminate
    </button>
    
  </div>

  <div class="col-12 m-2">      
    Tasks:   
  </div>
      
  <div class="col-12">
    <button class="btn btn-primary m-2"
            type="submit"
            name="command"
            value="add_test_tasks">
      Add Test Tasks
    </button> 
    
    <button class="btn btn-danger m-2"
            type="submit"
            name="command"
            value="purge_tasks">
      Purge All Tasks
    </button>
  </div>
  
  <div class="col-12">
    <button class="btn btn-success m-2"
            type="submit"
            name="command"
            value="test">
      Test
    </button>
  </div>
    
</form>

    
    
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content bg-dark">-->
<!--      <div class="modal-header">-->
        
<!--        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
        
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



{% endblock %}




