{% extends 'base.html' %}

{% block title %}
  Admin
{% endblock %}

{% block content %}

  <div class="container-fluid">
    
    <div class="row">
      <div class="col-sm-12 mt-4 mb-3">
        <h5>Admin:</h5>
      </div>
    </div>
    
    
    <form action={{ url_for('admin') }} method="POST">
    
      <div class="row">
        
        <div class="col-auto">
  
          {% if config['TELEGRAM_BOT_STATE'] == 'Started' %}
          
            <button type="submit" 
                    class="btn btn-warning" 
                    name="command"
                    value="stop_bot">
              Stop Bot
            </button>
            
          {% else %}
          
            <button type="submit" 
                    class="btn btn-success" 
                    name="command"
                    value="start_bot">
              Start Bot
            </button>
        
          {% endif %}
  
        </div>
      
        <div class="col-auto">
          
          <button type="submit" 
                  class="btn btn-info" 
                  name="command"
                  value="add_test_data">
            Add Test Data
          </button>          
  
        </div>
        
        <div class="col-auto">
          
          <button type="submit" 
                  class="btn btn-danger" 
                  name="command"
                  value="terminate">
            Terminate
          </button>          
  
        </div>
            
      </div>
      
    </form>
    
  </div>

{% endblock %}


