{% extends 'base.html' %}

{% block title %}
  Algorithms
{% endblock %}

{% block content %}


<div class="container-fluid">
  
  <div class="text-center h5 m-3">
    Available algorithms:
  </div>
  
  <table class="table table-hover table-dark">
    
    <thead>
      <tr>

        <th scope="col">
          
          <div class="row">
          
            <div class="col-9 col-lg-auto m-1" style="width: 200px;">
              Name
            </div>
            
            <div class="col-2 col-lg-auto m-1" style="width: 90px;">
              
              <a class="dropdown-toggle text-light font-weight-bold"
                 style="text-decoration: none;"
                 data-toggle="dropdown">
                Type
              </a>
              
              <div class="dropdown-menu m-1" style="background-color: #212121;">
                <a class="dropdown-item text-light" 
                   href={{ url_for('get_algorithms') }}>
                  all
                </a>
                <a class="dropdown-item text-light" 
                   href={{ url_for('get_algorithms', type='classical') }}>
                  classical
                </a>
                <a class="dropdown-item text-light" 
                   href={{ url_for('get_algorithms', type='quantum') }}>
                  quantum
                </a>
              </div>
              
            </div>
    
            <div class="col-lg d-none d-lg-block m-1">
              Description
            </div>            
            
            <div class="col-12 col-lg-auto d-none d-lg-block text-right m-1">
              Image
            </div> 
            
            <div class="col-12 col-lg-auto d-none d-lg-block text-center m-1" style="width: 440px;">
              Actions
            </div> 
            
          </div>
        </th>
      </tr>
    </thead>
    
    <tbody>
       
      {% for item in items %}
      
      <tr>
        <td>
          <div class="row justify-content-start">
          
            <div class="col-9 col-lg-auto">
              
              <a class="btn btn-secondary m-1"
                href={{ url_for('get_algorithm', algorithm_id=item.id) }}
                style="width: 170px; "
                role="button">
                {{ item.name }}
              </a>
              <!-- "background-color: {{ item.color or 'gray' }};" -->
              
            </div>
            
            <div class="col-2 col-lg-auto m-1" style="width: 90px;">
              {{ item.type }}
            </div>
              
            <div class="col-lg m-1">
              {% set lines = item.description.split('\n') %}
              {% for line in lines %}
                {{ line }}
                {% if not loop.last %}
                  <br/>
                {% endif %}
              {% endfor %}
            </div>
              
            <!--   Large Screen Diagram   -->
            
            <div class="col-2 col-lg-auto d-none d-lg-block">
              
              <img class="rounded shadow-lg border border-secondary m-0 p-0"
               src={{ url_for('static', filename='diagrams/' + item.id + '.png') }}
               style="height: 38px;">
              
            </div>
            
            <!--   Small Screen Diagram   -->
            
            <div class="col-12 col-lg-auto d-lg-none m-1">
              
              <img class="rounded shadow-lg border border-secondary m-0 p-0"
               src={{ url_for('static', filename='diagrams/' + item.id + '.png') }}
               style="width: 100%; max-width: 412px;">
              
            </div> 
            
            <!--   Screen Actions Panel   -->
            
            <!--<div class="col-12 col-lg-auto m-1" style="width: 450px;">-->
            <div class="col-12 col-lg-auto m-1 m-lg-0">
              
              <a href={{ url_for('get_algorithm', algorithm_id=item.id) }}
                class="btn btn-success mb-1" 
                style="width: 100px;"
                role="button">
                Open
              </a>
                 
              <a href={{ url_for('like_algorithm', algorithm_id=item.id) }}
                class="btn btn-info text-nowrap mb-1"
                style="width: 100px;"
                role="button">
                Like
                <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                  {{ item.likes }}
                </span>
              </a>
                    
              <a href={{ item.link }}
                class="btn btn-secondary mb-1"
                style="width: 100px; background-color: #A0A0A0;"
                role="button"
                target="_blank"
                rel="noopener noreferrer">
                Wiki
                
                <span class="badge bg-white text-dark rounded-pill align-text-bottom">
                  <i class="fas fa-info"></i>
                  <!--  <i class="fab fa-wikipedia-w"></i>-->
                </span>
              </a>

              <a href={{ 'https://github.com/ogorodnikov/m1/tree/main/app/core-service/core/algorithms/' + item.id + '.py' }}
                class="btn btn-secondary mb-1"
                style="width: 100px;"
                role="button"
                target="_blank"
                rel="noopener noreferrer">
                Code
                
                <span class="badge bg-warning text-dark rounded-pill align-text-bottom">
                  <i class="fas fa-code-branch"></i>
                </span>
              </a>
              
            </div>
          </div>
        </td>
      </tr>

      {% endfor %}
      
    </tbody>
  </table>
</div>

{% endblock %}


