{% extends 'base.html' %}

{% block title %}
  Welcome to M1
{% endblock %}

{% block content %}

  <div class="p-5 mx-auto" style="max-width: 970px;">
          
    <div class="text-center h1 m-3">
      Welcome to M1
    </div>
          
    <div class="lead font-weight-normal text-center m-4">
      Free&nbsp;web&nbsp;application to&nbsp;run&nbsp;algorithms on&nbsp;real&nbsp;Quantum&nbsp;Computers!
    </div>
    

    <!--   Large Screen Diagram   -->
    
    <div class="d-none d-lg-block">
      <img class="img-fluid" src={{ url_for('static', filename='bloch_multivector_diagram.png') }}>
    </div>
    
    <!--   Small Screen Diagram   -->
    
    <div class="d-lg-none m-1">
      <img class="img-fluid" src={{ url_for('static', filename='three_qubits.png') }}>
      
    </div>


   <!--   Buttons   -->
   
    <div class="text-center m-3">
      
      <a href="{{ url_for('get_algorithms') }}"
        class="btn btn-lg btn-primary text-nowrap col-lg-2 my-1"
        role="button">
        Get Started
      </a>    
      
      <a href="https://github.com/ogorodnikov/m1#readme"
        class="btn btn-lg btn-secondary text-nowrap col-lg-5 my-1"
        role="button"
        target="_blank"
        rel="noopener noreferrer">
        Project description with diagrams
        
        <span class="badge bg-warning text-dark rounded-pill align-text-bottom">
          <i class="fas fa-code-branch"></i>
        </span>
      </a>
      
      <a href="{{ url_for('tutorial') }}"
        class="btn btn-lg btn-warning text-nowrap col-lg-2 my-1"
        role="button">
        Tutorial
      </a>

    </div>

  </div>
  
{% endblock %}