{% extends 'base.html' %}

{% block title %}
  M1 Core Service
{% endblock %}

{% block content %}

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
            
      <div class="display-4 font-weight-normal h3">
        Welcome to M1
      </div>
            
      <p class="lead font-weight-normal">
        Free web site to run algorithms on simulator and real quantum devices
      </p>

      <a href="{{ url_for('get_algorithms') }}"
        class="btn btn-lg btn-primary"
        role="button"
        target="_blank"
        rel="noopener noreferrer">
        Get Started
      </a>    
      
      <a href="https://github.com/ogorodnikov/m1#readme"
        class="btn btn-lg btn-secondary"
        role="button"
        target="_blank"
        rel="noopener noreferrer">
        Full description with diagrams
        
        <span class="badge bg-warning text-dark rounded-pill align-text-bottom">
          <i class="fas fa-code-branch"></i>
        </span>
      </a> 

   
      
    </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  
{% endblock %}