{% extends 'base.html' %}

{% block title %}
  M1 Core Service
{% endblock %}

{% block content %}

  <div class="p-5 mx-auto" style="max-width: 1000px;">
          
    <div class="text-center h1 m-3">
      Welcome to M1
    </div>
          
    <div class="lead m-3">
      Quantum computing uses superposition, interference, and entanglement of quantum states to perform calculations.
      <br>
      
      Free web site to run algorithms on simulator and real quantum devices
    </div>

    <div class="lead m-3">
      Quantum computing is a type of computation that harnesses the collective properties of quantum states, 
      such as superposition, interference, and entanglement, to perform calculations. 
      Free web site to run algorithms on simulator and real quantum devices
    </div>
    
    <div class="text-center h1 m-3">
      <a href="{{ url_for('get_algorithms') }}"
        class="btn btn-lg btn-primary"
        role="button"
        target="_blank"
        rel="noopener noreferrer">
        Get Started
      </a>    
      
      <a href="https://github.com/ogorodnikov/m1#readme"
        class="btn btn-lg btn-secondary"
        role="button"
        target="_blank"
        rel="noopener noreferrer">
        Full description with diagrams
        
        <span class="badge bg-warning text-dark rounded-pill align-text-bottom">
          <i class="fas fa-code-branch"></i>
        </span>
      </a> 
    </div>
 
   <div class="product-device box-shadow"></div>
    
  </div>
  
{% endblock %}