{% extends 'base.html' %}

{% block title %}
  M1 Core Service
{% endblock %}

{% block content %}

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
            
      <h1 class="display-4 font-weight-normal">M1 Core Service</h1>
            
      <p class="lead font-weight-normal">Quantum and classical algorithms - run on simulator or real device</p>
            
      <a class="btn btn-primary btn-lg" href="{{ url_for('get_algorithms') }}">Get Started</a>
            
    </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  
{% endblock %}