{% extends 'base.html' %}

{% block title %}
  Credentials
{% endblock %}

{% block content %}

  <div class="container-sm mt-4">
    
    <body class="text-center">

      <main class="form-signin">

        <form action="{{ url_for('login') }}" method="POST">
  
          <h1 class="h3 mb-3 fw-normal">Please sign in or register</h1>
  
          <div class="form-floating col-md-6 mx-md-auto mb-3">
        
            <label for="username_input">Username</label>
            <div class="input-group has-validation">
            
              <span class="input-group-text" id="username_prepend">
                <i class="fas fa-cat"></i>
              </span>
            
              <!--<input type="text" class="form-control text-light bg-dark is-valid" id="username_input" -->
               
              <input class="form-control text-light bg-dark"
                     name="username"
                     id="username_input"
                     type="text" 
                     placeholder="Username"
                     aria-describedby="username_prepend username_validation_feedback"
                     required>
  
              <div id="username_validation_feedback" class="valid-feedback">
                Username is valid.
              </div>
              <div id="username_validation_feedback" class="invalid-feedback">
                Please choose a username.
              </div>
            
            </div>
          </div>
      
          <div class="form-floating col-md-6 mx-md-auto mb-3">
        
            <label for="password_input">Password</label>
            <div class="input-group has-validation">
          
              <span class="input-group-text bg-warning" id="password_prepend">
                <i class="fas fa-asterisk"></i>
              </span>
        
              <!--<input type="password" class="form-control text-light bg-dark" id="password_input"-->
              <!-- placeholder="Password"-->
              <!-- aria-describedby="password_prepend password_validation_feedback" required>-->
               
              <input class="form-control text-light bg-dark"
                     name="password"
                     id="password_input"
                     type="password" 
                     placeholder="Password"
                     aria-describedby="password_prepend password_validation_feedback"
                     required>
           
              <div id="password_validation_feedback" class="valid-feedback">
                Password is valid.
              </div>
              <div id="password_validation_feedback" class="invalid-feedback">
                Please choose a password.
              </div>
          
            </div>
          </div>
  
          <div class="checkbox col-md-6 mx-md-auto mb-3">
            <label>
              <input type="checkbox" value="True" name="remember_me"> Remember me
            </label>
          </div>
          
          <div class="col-md-6 mx-md-auto mb-4">
            <button class="btn btn-lg btn-info mx-2" type="submit" name="action" value="sign-in">Sign in</button>
            <button class="btn btn-lg btn-warning mx-2" type="submit" name="action" value="register">Register</button>
          </div>
          
          <a class="btn btn-lg btn-primary mx-2" 
             href={{ url_for('login', facebook_flow=true) }}>
            Login using Facebook
          </a>
          

          
            <!--<a class="btn btn-lg btn-light mx-2" -->
            <!--   href="https://www.facebook.com/v8.0/dialog/oauth?client_id=355403372591689&redirect_uri=https://9bca7b3479d64496983d362806a38873.vfs.cloud9.us-east-1.amazonaws.com/login&scope=public_profile,email">-->
            <!--  Get token-->
            <!--</a>-->
          
            
        </form>
      </main>
    </body>
  </div>
  
{% endblock %}


