{% extends 'base.html' %}

{% block title %}
  Credentials
{% endblock %}

{% block content %}

  <div class="container-sm mt-4">
    
    <body class="text-center">

      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=355403372591689&autoLogAppEvents=1" nonce="AGLHShjl"></script>      
      
      <main class="form-signin">

        <form action="{{ url_for('login', next=referrer) }}" method="POST">
  
          <h1 class="h3 mb-3 fw-normal">Please sign in or register</h1>
  
          <div class="form-floating col-md-6 mx-md-auto mb-3">
        
            <label for="username_input">Username</label>
            <div class="input-group has-validation">
            
              <span class="input-group-text" id="username_prepend">
                <i class="fas fa-cat"></i>
              </span>
            
              <!--<input type="text" class="form-control text-light bg-dark is-valid" id="username_input" -->
               
              <input class="form-control text-light bg-dark"
                     name="username"
                     id="username_input"
                     type="text" 
                     placeholder="Username"
                     aria-describedby="username_prepend username_validation_feedback"
                     required>
  
              <div id="username_validation_feedback" class="valid-feedback">
                Username is valid.
              </div>
              <div id="username_validation_feedback" class="invalid-feedback">
                Please choose a username.
              </div>
            
            </div>
          </div>
      
          <div class="form-floating col-md-6 mx-md-auto mb-3">
        
            <label for="password_input">Password</label>
            <div class="input-group has-validation">
          
              <span class="input-group-text bg-warning" id="password_prepend">
                <i class="fas fa-asterisk"></i>
              </span>
        
              <!--<input type="password" class="form-control text-light bg-dark" id="password_input"-->
              <!-- placeholder="Password"-->
              <!-- aria-describedby="password_prepend password_validation_feedback" required>-->
               
              <input class="form-control text-light bg-dark"
                     name="password"
                     id="password_input"
                     type="password" 
                     placeholder="Password"
                     aria-describedby="password_prepend password_validation_feedback"
                     required>
           
              <div id="password_validation_feedback" class="valid-feedback">
                Password is valid.
              </div>
              <div id="password_validation_feedback" class="invalid-feedback">
                Please choose a password.
              </div>
          
            </div>
          </div>
  
          <div class="checkbox col-md-6 mx-md-auto mb-3">
            <label>
              <input type="checkbox" value="True" name="remember_me"> Remember me
            </label>
          </div>
          
          <div class="col-md-6 mx-md-auto mb-3">
            <button class="btn btn-lg btn-primary mx-3" type="submit" name="action" value="sign-in">Sign in</button>
            <button class="btn btn-lg btn-warning mx-2" type="submit" name="action" value="register">Register</button>
            <button class="btn btn-lg btn-danger mx-2" type="submit" name="action" value="facebook">Facebook</button>
            
            <a class="btn btn-lg btn-primary" href="https://www.facebook.com/v8.0/dialog/oauth?client_id=355403372591689&redirect_uri=https://9bca7b3479d64496983d362806a38873.vfs.cloud9.us-east-1.amazonaws.com/login">1</a>
            <a class="btn btn-lg btn-primary" href="https://graph.facebook.com/oauth/access_token?client_id=355403372591689&client_secret=14a6e02a55e3c801993f58882e1b4ea1&grant_type=authorization_code&redirect_uri=https://ogoro.me&code=AQD_4SN1GX_8JN2av-Ffou0N02ELk9AqTN0Bmipcr4F6ilYKxRLXATpeHsZurMlYsmAm17PgWz9YwWVx1PPO1Bp8vKpn7Dj7ROv_ee-X7j5NSOZAyPT0PF7z6GGLLovHcUKGzN_nfeC8xH1adn4S4zV7CG2dw9KfjLTj-a74llCUBkzm5VoMIWkd4FkmFMrG9PqwPRS_mXM5luTIQEZPVy2WS0NrDx3CgST1Jlv5Io3iRTmOK8kt94LkTjIr2q1pEH_CS4k1tpuFhLNWXsSIaOqqnulZlniaNqJuB9limjS474Tr_GNNu2mfYTuxPI0z_ENV-tg-8F9UcQNc9959zN9o">2</a>
          </div>
          
          <!--https://graph.facebook.com/oauth/access_token?client_id=355403372591689&client_secret=14a6e02a55e3c801993f58882e1b4ea1Re&grant_type=authorization_code&redirect_uri=https://ogoro.me&code=AQBxLs61A58ry6gG6J57ef_QeLwLXdcyrPPKjiGrjYLVe-rwURV5ZKdFqW3X75jV29rAZUrc-LOoJhgKTp7V_-1po92Qxg0XNlv60tWvwUA2XPFHjkzg482fuTpZUTLWXMXhB7H3MurtJPvuNprIWvbH2YFwQZtzWfK9j-fBOtowocHca0v2eomBXzFukGpAtC5NVGP8bFBQ68eIHvadGY-OcNb1e7RnSZ_geaHH4dsLJzNY08BftpDKU8jFyOlWdf3jpGNsWuRsJVzQPVnl0UpfJ1B1tR1QVLnqUgOxolNxLCMPe-fs2QaEGyP_LVk9ZpyAL6d8_3U4J4685XP5w5zZ#_=_-->
            
            <br>
            
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="true">
            </div>
            <!--<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
            
            
        </form>
      </main>
    </body>
  </div>
  
{% endblock %}


