{% extends 'base.html' %}

{% block title %}
  Tasks
{% endblock %}

{% block content %}

{% set LOGS_COUNT = 10 %}


<div class="row align-items-center text-nowrap">
  
  <div class="col text-right m-3">
    <h5>Tasks:</h5>
  </div>
  
  <div class="col text-right m-3">
    <a href="#bottom" class="btn btn-outline-secondary" id="top" role="button" style="width: 120px">Bottom ⤵️</a>
  </div>
  
</div>


<div class="row mx-3">
  
  <div class="table-responsive">
    
    <table class="table table-hover table-dark mb-0">
      
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Logs</th>
          <th scope="col">Algorithm</th>
          <th scope="col">Run Mode</th>
          <th scope="col">Parameters</th>
          <th scope="col">Result</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      
      <tbody>
         
        {% for task_id, task in tasks.items() %}
        
          <tr>
            
            <td width="10">
              {{ task_id }}
            </td>
            
  
            <td class="col-1">
              {% if task.status in ('Running', 'Done', 'Failed') %}
                <button class="btn btn-info text-nowrap" 
                        data-toggle="collapse"
                        data-target="#collapse-{{ task_id }}">
                  <i class="fa fa-angle-down"></i> Logs
                </button>
              {% endif %}
            </td>
            
            <td class="col-1">
              <a href={{ url_for('get_algorithm', algorithm_id=task.algorithm_id) }}
              
                {% if task.status == 'Done' %}
                  class="btn btn-success"
                {% elif task.status == 'Running' %}
                  class="btn btn-warning"
                {% elif task.status == 'Queued' %}
                  class="btn btn-info"
                {% else%}
                  class="btn btn-danger"            
                {% endif %}
                
                role="button">
                {{ task.algorithm_id }}
              </a>
            </td>
            
            <td class="col-1">
              {{ task.run_values.run_mode }}
            </td>
            
            <td class="col-1">
              {% for name, value in task.run_values.items() %}
                {% if name != 'run_mode' %}
                  {{ name }}: {{ value }}<br>
                {% endif %}
              {% endfor %}
            </td>
            
            <td class="col-sm-auto">
              {% if task.result %}
                {% for name, value in task.result.items() %}
                  {{ name }}: {{ value }}
                {% endfor %}
              {% endif %}
            </td>
            
            <td class="col-1">
              <button
                {% if task.status == 'Done' %}
                  class="btn btn-success"
                {% elif task.status == 'Running' %}
                  class="btn btn-warning"
                {% elif task.status == 'Queued' %}
                  class="btn btn-info"
                {% else %}
                  class="btn btn-danger"            
                {% endif %}>
                
                {{ task.status }}
                
              </button>
            </td>
          </tr>
          
          {% set logs_length = logs[task_id]|length %}
          
          {% set logs_tail = logs[task_id][-LOGS_COUNT:] %}
          
          {% if logs_length > LOGS_COUNT %}
            {% set preambula = "=== Last " + LOGS_COUNT|string + " logs: ===\n\n" %}
          {% endif%}
          
          <tr class="collapse" id="collapse-{{ task_id }}">
            <td></td>
            <td colspan=6 style="white-space: pre-wrap; font-family: monospace; line-height:19px">{{ preambula }}{% for log in logs_tail %}{{ log }}
{% endfor %}
            </td>
          </tr>
          
          {% if logs_length > 10 %}
            <tr class="collapse" id="collapse-{{ task_id }}">
              <td></td>
              <td colspan=6>
  
                <a href={{ url_for('get_tasks', task_id=task_id) }}
                   class="btn btn-light"
                   role="button"
                   target="_blank"
                   rel="noopener noreferrer">
                  <i class="fa fa-angle-right"></i> Full Logs
                </a>
                
              </td>
            </tr>
          {% endif%}
          
        {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>

<div class="row align-items-center">
  
  <div class="col text-right m-3">
    <a href="#" class="btn btn-outline-secondary" id="bottom" role="button" style="width: 120px">Top ⤴️</a>
  </div>
  
</div>

  

{% endblock %}


