{% extends 'base.html' %}

{% block title %}
  Tasks
{% endblock %}

{% block content %}

<div class="row justify-content-center m-3">
   
  <h5 class="mb-3">Tasks:</h5>

  <table class="table table-hover table-dark">
    
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Algorithm</th>
        <th scope="col">Run Mode</th>
        <th scope="col">Parameters</th>
        <th scope="col">Result</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    
    <tbody>
       
      {% for task_id, task in tasks.items() %}
      
      <tr>
        
        <td width="10">
          {{ task_id }}
        </td>
        
        <td class="col-1">
          <button class="btn btn-info" 
                  data-toggle="collapse"
                  data-target="#collapse-{{ task_id }}">
            <i class="fa fa-angle-down"></i> Logs
          </button>
        </td>
        
        <td class="col-1">
          <a href={{ url_for('get_algorithm', algorithm_id=task.algorithm_id) }}
          
            {% if task.status == 'Done' %}
              class="btn btn-success"
            {% elif task.status == 'Running' %}
              class="btn btn-warning"
            {% else%}
              class="btn btn-danger"            
            {% endif %}
            
            role="button">
            {{ task.algorithm_id }}
          </a>
        </td>
        
        <td class="col-1">
          {{ task.run_values.run_mode }}
        </td>
        
        <td class="col-2">
          {% for name, value in task.run_values.items() %}
            {% if name != 'run_mode' %}
              {{ name }}: {{ value }}
            {% endif %}
          {% endfor %}
        </td>
        
        <td class="col-auto">
          {% if task.result %}
            {% for name, value in task.result.items() %}
              {{ name }}: {{ value }}
            {% endfor %}
          {% endif %}
        </td>
        
        <td class="col-1">
          <button
            {% if task.status == 'Done' %}
              class="btn btn-success"
            {% elif task.status == 'Running' %}
              class="btn btn-warning"
            {% else%}
              class="btn btn-danger"            
            {% endif %}>
            
            {{ task.status }}
            
          </button>
        </td>
      </tr>
      
      <tr class="collapse" id="collapse-{{ task_id }}">
        <td></td>
        <td colspan=6>
          <div >

            {% for log in logs[task_id] %}
              {{ log }}<br>
            {% endfor %}

          </div>
        </td>
      </tr>
      
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}


