{% extends 'base.html' %}

{% block title %}
  Task {{ task.task_id }}
{% endblock %}

{% block content %}


<!--DYNAMO 1: {-->
<!--'logs': ['EGCD A, B: 345, 455244237', 'EGCD GCD (Old remainder): 3'], -->
<!--'run_values': {'a': '345', 'run_mode': 'classical', 'b': '455244237'}, -->
<!--'task_status': 'Done', -->
<!--'task_id': Decimal('1'), -->
<!--'algorithm_id': 'egcd', -->
<!--'task_result': {'GCD': Decimal('3'), 'Bézout coefficients': [Decimal('-51462392'), Decimal('39')]}, -->
<!--'record_type': 'task_record'}-->


<!-- Task Category  -->

{% if task.task_status == 'Done' %}
  {% set task_category = 'success' %}
  
{% elif task.task_status == 'Running' %}
  {% set task_category = 'warning' %}
  
{% elif task.task_status == 'Queued' %}
  {% set task_category = 'info' %}
  
{% else%}
  {% set task_category = 'danger' %}
  
{% endif %}


<div class="row justify-content-center m-3">

  <div class="table-responsive">
  
    <table class="table table-hover table-dark">
      
      <thead>
        <tr>
          <!--<th scope="col">Task</th>-->
          <th scope="col">Logs</th>
          <th scope="col">Algorithm</th>
          <th scope="col">Run Mode</th>
          <th scope="col">Parameters</th>
          <th scope="col">Result</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      
      <tbody>
        
          <tr>
            <!--<td column-width="10" class="d-none d-sm-none d-md-block">-->
            <!--  {{ task.task_id }}-->
            <!--</td>-->
            
            <td class="col-1">
              <button class="btn btn-info text-nowrap" 
                      data-toggle="collapse"
                      data-target="#collapse-{{ task.task_id }}">
                <i class="fa fa-angle-up"></i> Logs
              </button>
            </td>
            
            <td class="col-1">
              <a href={{ url_for('get_algorithm', algorithm_id=task.algorithm_id) }}
                 class="btn btn-{{ task_category }}"              
                 role="button">
                {{ task.algorithm_id }}
              </a>
            </td>
            
            <td class="col-1">
              {{ task.run_values.run_mode }}
            </td>
            
            <td class="col-2">
              {% for name, value in task.run_values.items() %}
                {% if name != 'run_mode' %}
                  {{ name }}: {{ value }}<br>
                {% endif %}
              {% endfor %}
            </td>
            
            <td class="col-auto">
              {% if task.task_result %}
                {% for name, value in task.task_result.items() %}
                  {{ name }}: {{ value }}
                {% endfor %}
              {% endif %}
            </td>
            
            <td class="col-1">
              <button class="btn btn-{{ task_category }}">
                {{ task.task_status }}
              </button>
            </td>
          </tr>
  
          
          <tr class="collapse show" id="collapse-{{ task.task_id }}">
            <td colspan=6 style="white-space: pre-wrap; font-family: SourceCodePro, monospace, monospace; line-height:23px">{% for log in task.logs %}{{ log }}
{% endfor %}
            </td>
          </tr>
          
          
          {% if task.task_status == 'Done' and task.run_values.run_mode == 'simulator' %}
          
            <!--<tr class="collapse show" id="collapse-{{ task.task_id }}" style="background-color:#212121">-->
            <tr class="collapse show" id="collapse-{{ task.task_id }}">
              <td colspan=6>
                
                <h6>Statevector:</h6>
                
                <!--<img class="img-fluid" src="/static/figures/bloch_multivector_task_{{ task_id }}.png">-->
                <img class="img-fluid" src={{ url_for('download', task_id=task.task_id, content='statevector') }}>
                
                <br>
                
                <a href={{ url_for('download', task_id=task.task_id, content='statevector', as_attachment=True) }}
                  class="btn btn-info"
                  role="button">
                  Download Figure
                </a>
                
              </td>
            </tr>
            
          {% endif %}
          
  
      </tbody>
    </table>
    
  </div>
  

{% endblock %}


