{% extends 'base.html' %}

{% block title %}
  Tutorial
{% endblock %}

{% block content %}

  <div class="mx-auto" style="max-width: 1200px;">
          
    <div class="text-center h3 m-3">
      Tutorial
    </div>
    
    <div class="lead font-weight-normal text-justify m-3">
      <p>
        
        M1 Project proposes to run quantum algorithms on simulator or real quantum computers kindly provided by
                          
        <a href="https://www.ibm.com/quantum-computing/what-is-quantum-computing/">
          IBM Quantum
        </a>
        
        and

        <a href="https://qiskit.org/">
          Qiskit
        </a>
        
        Community.
        
      </p>
      
      <p>
        <b>      
          Some links:
        </b>
      </p>

      <p>      
        Qiskit Textbook:
        
          <a href="https://qiskit.org/textbook/what-is-quantum.html">
            https://qiskit.org/textbook/what-is-quantum.html
          </a>
      </p>

      <p>      
        Qiskit Textbook:
        
          <a href="https://qiskit.org/textbook/what-is-quantum.html">
            https://qiskit.org/textbook/what-is-quantum.html
          </a>
      </p>
      
      
      
    </div>
    
    <div class="text-center h1 m-3">
      <a href="{{ url_for('get_algorithms') }}"
        class="btn btn-lg btn-primary"
        role="button">
        Algorithms
      </a>    
      
      <a href="https://github.com/ogorodnikov/m1#readme"
        class="btn btn-lg btn-secondary"
        role="button"
        target="_blank"
        rel="noopener noreferrer">
        Project description with diagrams
        
        <span class="badge bg-warning text-dark rounded-pill align-text-bottom">
          <i class="fas fa-code-branch"></i>
        </span>
      </a> 
    </div>
 
   <div class="product-device box-shadow"></div>
    
  </div>
  
{% endblock %}